.epaper-boundaries-widget-page-image {
  max-height: 100vh;
  min-height: 300px;
  object-fit: contain;
}

.epaper-boundaries-widget-page-image img {
  max-height: 100vh;
  min-height: 300px;
  object-fit: contain;
}
