body {
  position: relative;
  text-align: center;
}

/* Bootstrap 5 tweak: do not underline links unless hovered over */
a:not([class*="btn"]) {
  text-decoration: none;
}
a:not([class*="btn"]):hover {
  text-decoration: underline;
}

iframe.page {
  width: 45%;
  border: none;
}

.pages-container.horizontal-scroll {
  display: flex;
  max-height: 90vh;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  overflow-y: hidden;
  gap: 10px;
}

.pages-container.horizontal-scroll [class^="col-"] {
  flex: none;
  width: initial;
}

.pages-container.horizontal-scroll .row {
  flex-wrap: nowrap;
}

.pages-container.horizontal-scroll img.page {
  max-width: none;
  max-height: 87vh;
}

div.page {
  position: relative;
  overflow: hidden;
}

img.page {
  background: #cccccc;
  object-fit: contain;
  max-width: 100%;
  min-width: 90px;
  min-height: 200px;
  height: auto;
}

a.element-placeholder {
  display: block;
  position: absolute;
}
a.element-placeholder.loading {
  opacity: 0.8;
  background-color: grey;
}
a.element-placeholder.loading > div.loading-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bi:before {
  padding-right: 0.4em;
}

/*
 *
 * Modal
 *
 */
.modal .modal-content {
  line-height: 1.25;
}

.modal .cutout {
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  min-height: 30px;
  max-height: 80vh;
}

.modal .cutout img {
  height: auto;
  max-width: 100%;
  background: #ccc;
  min-width: 60px;
  min-height: 60px;
}
.modal-backdrop.show {
  opacity: 0.8;
}

/*
 *
 * Article base.
 +
 */
.modal.article-base .modal-title {
  display: none;
}

.modal.article-base .article-title {
  font-family: 'DejaVu Serif', Serif, serif;
  font-size: 150%;
}

.modal.article-base .modal-content {
  font-family: 'DejaVu Sans', sans-serif;
}

.modal.article-base .article-images .carousel-item img {
  object-fit: contain;
  aspect-ratio: 21/9;
  width: 100%;
}

.modal.article-base .article-location {
  text-transform: uppercase;
}

  /*
   * Cutout handling.
   */
.modal.article-base.cutout-shown button.text-trigger {
  display: inline;
}
.modal.article-base.cutout-shown .cutout {
  display: block;
}
.modal.article-base.cutout-shown .hide-for-cutout,
.modal.article-base.cutout-shown button.cutout-trigger,
.modal.article-base .text-trigger,
.modal.article-base .cutout {
  display: none;
}

/*
 *
 * Nav
 *
 */
@media all and (max-height: 800px) and (max-width: 1199px) {
  nav.navbar {
    max-height: 100vh;
    overflow-y: scroll;
  }
}

@media all and (max-width: 1199px) {
  #navbarSupportedContent .btn,
  #navbarSupportedContent .btn-group {
    min-width: 185px;
  }

  #navbarSupportedContent .btn-group .btn {
    min-width: initial;
  }

  nav.navbar .nav-item-editions > .dropdown-menu,
  nav.navbar .nav-item-inserts > .dropdown-menu {
    max-width: 400px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #333333;
    color: #CCCCCC;
  }
  .modal-content {
    background-color: #333333;
  }
  nav.navbar {
    background-color: #D3D3D3 !important;
    color: #CCCCCC;
  }
}

#pagePreview {
  max-height: 250px;
  overflow-x: scroll;
  overflow-y: hidden;
}
