.toolbar .toolbar-bar .toolbar-icon.toolbar-icon-epaper-admin-epaper::before {
  background-image: url("../icons/epaper.svg");
}

body.gin--vertical-toolbar .toolbar .toolbar-bar .toolbar-icon.toolbar-icon-epaper-admin-epaper::before {
  mask-image: url("../icons/epaper.svg");
}
