{% block header %}
  <nav class="navbar sticky-top navbar-expand-xl navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        {{ publication_icon }} {{ issue_name }}
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% if regions is not empty %}
            <li class="nav-item dropdown my-2 my-xl-0 mx-xl-2 nav-item-editions">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="localIssuesMenuButton" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                Lokalausgaben
              </button>
              <div class="dropdown-menu mx-auto" aria-labelledby="localIssuesMenuButton">
                {% for region in regions %}
                  {{ region }}
                {% endfor %}
              </div>
            </li>
          {% endif %}
          <li class="nav-item my-2 my-xl-0 mx-xl-2 nav-item-pagination">
            <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center">
                <li class="page-item {% if not last_issue_url %}disabled{% endif %}">
                  <a class="bi bi-caret-left-fill page-link date-last-navigation" href="{{ last_issue_url }}" aria-label="Previous"></a>
                </li>
                <li class="page-item">
                  <label class="d-none" for="datepicker">Datum</label>
                  <input
                    id="datepicker"
                    name="datepicker"
                    class="page-link"
                    type="date"
                    value="{{ issue_date }}"
                    min="2010-01-01"
                    max="{{ "now"|date("Y-m-d") }}"
                  >
                </li>
                <li class="page-item {% if not next_issue_url %}disabled{% endif %}">
                  <a class="bi bi-caret-right-fill page-link date-next-navigation" href="{{ next_issue_url }}" aria-label="Next"></a>
                </li>
              </ul>
            </nav>
          </li>
          {% if full_pdf_url is not empty %}
            <li class="nav-item nav-item-full-pdf">
              <a target="_blank" class="btn btn-primary my-2 my-xl-0 mx-xl-2" href="{{ full_pdf_url }}">
                <i class="bi bi-book-fill"></i>
                Gesamt-PDF
              </a>
            </li>
          {% endif %}
          {% if region_url is not empty %}
            <li class="nav-item nav-item-online">
              <a target="_blank" class="btn btn-secondary my-2 my-xl-0 mx-xl-2" href="{{ region_url }}">
                <i class="bi bi-globe"></i>
                Web
              </a>
            </li>
          {% endif %}
          <li class="nav-item nav-item-online">
            <button id="horizontalScrollToggle" type="button" class="btn btn-primary bi bi-distribute-horizontal" data-bs-toggle="button">Horizontal Scroll</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}

{% block main %}
<main class="edition-page">
  <h1 class="d-none d-xl-block">{{ epaper_issue.label() }}</h1>
  <div class="pages-container container-xl p-0 mx-xl-auto">
    {{ pages }}
  </div>
</main>
{% endblock %}

{% block modal %}
  {% include '@epaper/rendered/modal-element.html.twig' %}
{% endblock %}

{% block footer %}
<footer class="footer fixed-bottom dropup">
  <button
    class="btn btn-primary dropdown-toggle"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#pagePreviewContainer"
    aria-expanded="false"
    aria-controls="pagePreviewContainer"
    onclick="this.parentElement.classList.toggle('dropup')"
  >
    Vorschau
  </button>
  <div id="pagePreviewContainer" class="collapse bg-light">
    <div id="pagePreview" class="d-flex flex-nowrap align-items-end">
      {% set current_page_title = '' %}
      {% for page in pages_preview %}
        <a class="d-block py-1 px-3" href="#page-{{ page.number }}">
          {% if current_page_title != page.title %}
            {% set current_page_title = page.title %}
            <h5 class="small">{{ page.title }}</h5>
          {% endif %}
          {{ page.image }}
        </a>
      {% endfor %}
    </div>
  </div>
</footer>
{% endblock %}
