<!doctype html>
<html lang="{{ language }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <meta name="description" content="None">
  <meta name="author" content="">
  <meta name="theme-color" content="{{ theme_color }}">

  <link rel="shortcut icon" type="image/png" href="{{ logo }}">

  <link rel="manifest" href="/app/manifest.json">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css" integrity="sha256-fx038NkLY4U1TCrBDiu5FWPEa9eiZu01EiLryshJbCo=" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1/font/bootstrap-icons.min.css" integrity="sha256-BicZsQAhkGHIoR//IB2amPN5SrRb3fHB8tFsnqRAwnk=" crossorigin="anonymous">
  {% if calendar %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.3/dist/css/datepicker.min.css" integrity="sha256-Fcsjnn5m7b0jgoAOvto4YYPVkQb59WyWhygXflyYfwA=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.3/dist/css/datepicker-bs5.min.css" integrity="sha256-JI1ayAORlrsGdUc8e2SgChCZzhMPjvT2KOFfhZBay8Y=" crossorigin="anonymous">
  {% endif %}
  <link rel="stylesheet" href="{{ module_base_path }}/css/epaper.css">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/js/bootstrap.bundle.min.js"></script>
  {% if calendar %}
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.3/dist/js/datepicker-full.min.js" integrity="sha256-94oRCk3emDMTwVIVqlAHLI22w+j/7l1TetC7JuddwhU=" crossorigin="anonymous"></script>
  {% endif %}
  <script type="module" src="{{ module_base_path }}/js/epaper.js"></script>
  {% if pwa %}
    <script>
      let pwaPath = '{{ module_base_path }}/js/serviceworker.js';
    </script>
    <script src="{{ module_base_path }}/js/pwa.js"></script>
  {% endif %}

</head>
<body>
  {{ content }}
</body>
</html>
