{{ prefix }}
<div id="page-{{ page_number }}" {{ attributes.addClass('page-container') }}>
  <div class="card m-2">
    <div class="card-img-top page">
      <picture class="page-background">
        {% if page_image_webp %}<source srcset="{{ page_image_webp }}" type="image/webp">{% endif %}
        {% if page_image_jpg %}<source srcset="{{ page_image_jpg }}" type="image/jpeg">{% endif %}
        <img class="page" src="{{ page_image_jpg }}" loading="lazy" alt="{{ page.image.alt }}">
      </picture>
      {{ page_elements }}
    </div>
  </div>
</div>
{{ suffix }}
