<a
  target="_blank"
  id="{{ element_id }}"
  title="{{ element_label }}"
  href="{{ element_url }}"
  class="element-placeholder"
  style="
    width:{{ element.bounds.width }}%;
    height:{{ element.bounds.height }}%;
    left:{{ element.bounds.left }}%;
    top:{{ element.bounds.top }}%;
  "
  data-top="{{ element.bounds.top }}"
  data-left="{{ element.bounds.left }}"
  data-width="{{ element.bounds.width }}"
  data-height="{{ element.bounds.height }}"
  data-name="{{ element_name }}"
  data-type="{{ element_type }}"
  {% if json_data is not empty %}
    data-json="{{ json_data }}"
  {% endif %}
  {% block additional_properties %}
  {% endblock %}
></a>
