{% set class = class ~ ' article-base' %}

{% extends '@epaper_theme/modal-element.html.twig' %}

{% block body %}

  <template class="gallery-image">
    <div class="carousel-item">
      <img class="d-block" src="" alt="#">
      <div class="text-center d-md-block">
        <p class="text-secondary">#</p>
      </div>
    </div>
  </template>

  <div class="text-start px-xl-5 px-md-4 px-2">
    <h5 class="article-title text-start py-2">Modal title</h5>
    <div class="hide-for-cutout">
      {% block article_head %}
        <div class="article-author text-secondary py-2"></div>
        <div class="article-preface font-weight-bolder py-2"></div>
      {% endblock %}
    </div>
    <div class="article-actions py-2 text-end">
      <a target="_blank" href="#" class="btn btn-primary print-trigger">
        <i class="bi bi-printer-fill"></i>
        <span class="d-none d-lg-inline">Drucken</span>
      </a>
      <button type="button" class="btn btn-primary my-1 cutout-trigger">
        <i class="bi bi-receipt"></i>
        <span class="d-none d-lg-inline">Ausschnitt</span>
      </button>
      <button type="button" class="btn btn-primary my-1 text-trigger">
        <i class="bi bi-text-center"></i>
        <span class="d-none d-lg-inline">Text</span>
      </button>
      <button type="button" id="text-to-speech-button" class="btn btn-primary my-1 speak">
        <i class="bi bi-volume-up-fill"></i>
        <span class="d-none d-lg-inline">Vorlesen</span>
      </button>
      <button type="button" class="btn btn-primary my-1 pause d-none">
        <i class="bi bi-pause-fill"></i>
        <span class="d-none d-lg-inline">Pausieren</span>
      </button>
      <div class="btn-group font-size-adjust" role="group" aria-label="Font size adjusts">
        <button type="button" class="btn btn-primary font-size-decrease">
          <i class="bi bi-dash-circle-fill"></i>
        </button>
        <button type="button" class="btn btn-primary font-size-default">
          <i class="bi bi-fonts"></i>
        </button>
        <button type="button" class="btn btn-primary font-size-increase">
          <i class="bi bi-plus-circle-fill"></i>
        </button>
      </div>
    </div>
    <div class="hide-for-cutout">
      {% block article_content %}

        <div class="article-images d-none carousel slide carousel-fade" data-bs-ride="false">
          <div class="carousel-inner">

          </div>
          <button type="button" class="carousel-control-prev" data-bs-target="#article-images" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Zurück</span>
          </button>
          <button type="button" class="carousel-control-next" data-bs-target="#article-images" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Weiter</span>
          </button>
        </div>

        <p class="article-text py-2"></p>

      {% endblock %}
    </div>
    <div class="cutout text-center px-1"><canvas></canvas></div>
  </div>
{% endblock %}
