<div
  class="modal fade {% if class %}{{ class }}{% endif %}"
  id="{% if id %}{{ id }}{% else %}elementModal{% endif %}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="elementModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-between">
        <div class="d-fill"></div>
        <h5 class="modal-title d-none font-weight-bold d-fill">Title</h5>
        <div class="modal-actions d-fill">
          <div class="btn-group flex-shrink-0 element-navigation my-1" role="group" aria-label="Article navigation">
            <button type="button" class="btn btn-primary my-1 last-article">
              <i class="bi bi-chevron-left"></i>
            </button>
            <button type="button" class="btn btn-primary my-1 next-article">
              <i class="bi bi-chevron-right"></i>
            </button>
          </div>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
            <i class="bi bi-x"></i>
          </button>
        </div>
      </div>
      <div class="modal-body text-justify">
        {% block body %}
          <div class="cutout"><canvas></canvas></div>
        {% endblock %}
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Schließen</button>
      </div>
    </div>
  </div>
</div>
