{#
/**
 * @file epaper_element.html.twig
 * Default theme implementation to present Element data.
 *
 * This template is used when viewing Element pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_epaper_element()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('epaper-element') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
