{#
/**
 * @file epaper_page.html.twig
 * Default theme implementation to present Page data.
 *
 * This template is used when viewing Page pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_epaper_page()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('epaper-page') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
