{#
/**
 * @file epaper.html.twig
 * Default theme implementation to present Epaper data.
 *
 * This template is used when viewing Epaper pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_epaper()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('epaper-publication') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
